.body_portfolio *{
    box-sizing: border-box;
}
.portfolio{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    width: 100vw;
}
.container_title_proyects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_proyects{
    position: relative;
    top: 0;
   font-size: 3em;
   color: #fff;
   text-transform: uppercase;
}
.container_proyects{
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    max-width: 95vw;
    scroll-snap-type: x mandatory;
    scroll-padding: 30px;
    gap: 15px;
}
.container_proyects .proyect{
    flex: 0 0 100%;
    max-height: 80vh;
    max-width: 85vw;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    scroll-snap-align: start;
}
.proyect img{
    height: 100%;
    width: 100%;
}
.proyect:hover .datails{
    opacity: 1;
    height: 100%;
}
.datails{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.5s ease;
}
.datails h3{
    margin: 0 1em;
    font-size: 3em;
    color: #fff;
    font-weight: 600;
}
.datails p{
    margin: 1em;
    font-size: 18px;
    color: #fff;
    font-style: italic;
}
.links_icon_proyects{
    display: flex;
    gap: 1em;
}
.links_icon_proyects .link{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #515152;
    border-radius: 10px;
    position: relative;
    transition: 0.4s;
}
.links_icon_proyects .link:hover{
    transform: rotate(45deg);
}
.links_icon_proyects .link::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #373737;
    border-radius: 10px;
    transition: opasity 0.2s;
}
.links_icon_proyects .link:hover::before{
    opacity: 0.4;
}
.links_icon_proyects .link:nth-child(1)::before{
    background: #00bcac;
}
.links_icon_proyects .link:nth-child(2)::before{
    background: #822796;
}
.links_icon_proyects .link:hover::before{
    transform: translate(-4px, -4px);
    filter: blur(10px);
}
.links_icon_proyects .link .i{
    font-size: 1.5em;
    transition: all 0.4s;
}
.links_icon_proyects .link:hover .i{
    transform: rotate(-45deg);
}

/*---Mobile devices---*/

@media screen and (min-width:320px) and (max-width:768px){
    .container_proyects{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 10px;
        max-width: 95vw;
        scroll-snap-type: y mandatory;
    }
    .container_proyects .proyect{
        max-height: 80vh;
        max-width: 90vw;
    }
    .datails h3{
        font-size: 2em;
    }
    .datails p{
        margin: 1em 1em 0.2em 1em;
        font-size: 0.8em;
    }
    .links_icon_proyects .link{
        margin: 0 10px;
        width: 2em;
        height: 2em;
    }
    .links_icon_proyects .link .i{
        font-size: 1em;
        transition: all 0.4s;
    }
}

/*---Tablet---*/

@media screen and (min-width:768px) and (max-width:1024px){
    .title_proyects{
       font-size: 4em;
       color: #fff;
       text-transform: uppercase;
    }
    .container_proyects{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 10px;
        max-width: 95vw;
        scroll-snap-type: y mandatory;
    }
    .container_proyects .proyect{
        max-height: 80vh;
        max-width: 90vw;
    }
    .datails h3{
        font-size: 3em;
    }
    .datails p{
        margin: 1em;
        font-size: 1.5em;
    }
}